
body {
    width: 1000px;
}


.Navegation {
    background-color: green;
    height: 100px;
    display: flex;
    border: 3px solid black;
}

.B h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    background-color:  White;
    height: 40px;
    margin-top: 15px ;
    margin-left: 30px;
    padding: 10px;
    width: 130px;
    display: inline-block;
    line-height: 40px;
}

#banner{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    line-height: 250px;
    font-size: 100px;
    width: 800px;
    height: 270px;
    margin-top: 15px;
    margin-left: 10px; 
}

.header{
    background-color: aqua;
    height: 300px;
    display: flex;
    border: 3px solid black;
}

.l-containner h2{

    background-color: white;
    width: 130px ;
    height: 72px;
    margin-left: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 70px;
    font-weight: bold;

}

.principal {
    background-color: gray;
    height: 500px;
    display: flex;
    border: 3px solid black;
}

#aside-l{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    line-height: 150px;
    width: 200px;
    padding: 80px;
    height: 300px;
    margin-top: 15px;
    margin-left: 5px; 
}

#art{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    line-height: 350px;
    font-size: 100px;
    width: 500px;
    padding: 30px;
    height: 400px;
    margin-top: 15px;
    margin-left: 10px; 

}



#aside-r{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    line-height: 150px;
    width: 200px;
    padding: 80px;
    height: 300px;
    margin-top: 15px;
    margin-left: 10px; 
}

.foot {
    background-color: yellow;
    height: 50px;
    display: flex;
    border: 3px solid black;
}